.Trending{
    font-size: 20px;
    text-shadow: 2px 1px rgb(58, 218, 58);
}

.number{
    color: #43fa52;
    font-size: 20px;
    margin-left: 12px;
}

.title{
    font-size: 20px;
}

.icon{
    color: yellow;
}

.link-item{
    text-decoration: none;
    color: #fff;
}